<!DOCTYPE html>
<html ng-app="LearnPlayerApp">
<head>
	<title>Learn sender</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
	<script type="text/javascript" src="vendor/kevingaudin/monsterid/monsterid.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/service.monsterid.js"></script>
</head>
<body ng-controller="LearnPlayerController as learnPlayer">
<h1>Sender</h1>
<div ng-click="startAppSession()">Request session</div>
<div ng-click="stopApp()">Stop application</div>
<input type="text" ng-model="learnPlayer.name" ng-change="identify()"/><br/>
<img monsterid="{{learnPlayer.name}}" title="{{learnPlayer.name}}" class="avatar"/>
</body>
</html>